/* You can add global styles to this file, and also import other style files */
html,
body {
    background-image: url('./assets/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

